<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ejs Learning</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
      }

      html,
      body {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      h1 {
        font-weight: 500;
        font-size: 3rem;
        letter-spacing: -2px;
        text-transform: capitalize;
      }
    </style>
  </head>
  <body>
    <% message.forEach(msg=>{ %>
    <h1><%= msg %></h1>
    <%}) %>
  </body>
</html>
